/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 Aug, 2016, 3:07:44 PM
    Author     : user
*/

.child-comment-input-box-form-area {
    width:100%;
    display:flex;
}

.child-comment-input-box-text-area {
    width: 100%;
}

.child-comment-input-box-submit-button {
    display: inline-block;
    margin-left: 4px;
}

.child-comment-input-box-loading-comment-list {
    opacity: 0.5;
    pointer-events:  none;
}
.child-comment-input-box-container {
    margin-bottom: 4px;
}
