/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 Aug, 2016, 2:22:45 AM
    Author     : user
*/
.comment-input-anonymous-cancel-btn {
    margin-left: 12px;
    height: 100%;
}

.comment-input-anonymous-section-anonymous {
    padding-top: 3px;
}

.comment-input-anonymous-square {
    border: 1px solid;
    border-color: lightgray;
}

.comment-input-anonymous-square-empty {
    color: white;
    border: 1px solid lightgray;
    font-size: 8px;
}

.comment-input-anonymous-loading-section {
    margin-left: 12px;
    padding-top:3px;
    
}

.comment-input-anonymous-section-non-anonymous {
    padding-top: 3px;
}

.comment-input-anonymous-btn {
    margin-left: 12px;
    height: 100%;
}

.comment-input-anonymous-hide {
    display: none;
}
