.dropdown-comment-menu {display:none;}
.dropdown-comment-menu {display:block;}
.dropdown-comment-menu a.outer, .dropdown-comment-menu a.outer:visited {
    display:block;
    float:left;
    overflow:hidden;
}

.dropdown-comment-menu a.outer table.first {
    z-index: 1000;
    overflow:visible;
    display: none;
}

.dropdown-comment-menu a.outer table.first tbody tr td button {
    display: block;
    text-align: left;
    text-decoration: none;
}

.dropdown-comment-menu a.outer:hover table.first {
    display:block;
}

.dropdown-comment-menu button.inner,
.dropdown-comment-menu button.inner:visited {
    display: block;
}
