.simple-sidenav-container {
    padding-left: 10px;
    margin-bottom: 16px;
    
}
.simple-sidenav-title {
    font-size: 14px;
    padding-bottom: 2px;
    border-bottom: 1px solid;
    margin-bottom: 4px;
    color: #4c4c4c;
}

.simple-sidenav-item-class {
    display: block;
}

.simple-sidenav-item-link {
    width: 100%;
    color: #4c4c4c;
    word-wrap: break-word;
    font-size: 11px;
}