.button-like-link{
    background:none!important;
    border:none;
    padding:0!important;
    font: inherit;
    /*border is optional*/
    border-bottom:1px solid #444;
    cursor: pointer;
}

/** for all name-link **/
.name-link{
    font-size: 15px;
    font-weight:bold;
}

div.inline{
    float:left;
}

/**section, give margin to every new section **/
.section{
    padding: 0px !important;
    margin-left:0px;
    margin-top:30px;
}

.home-main-section{
    padding:0px !important;
    margin-left: 0;
    margin-top: 0px;
    width:100%;
}

.thread-link{
    font-size:20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.home-thread-list{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

div#verify-email {
    position: absolute;
    width: 21.5%;
    margin-left: 91%;
}

div#verify-email-form {
    background: #fff;
    display: none;
    padding: 15px;
    margin-left: 15px;
    width: calc(100% - 15px);
    vertical-align: middle;
}

div#verify-email-form input[type='email'] {
    padding: 15px;
    border: 1px solid #0E5A94;
    border-radius: 0;
    width: 90% !important;
    text-align: center;
}

div#verify-email-form button {
    background: #0E5A94 !important;
    border: 1px solid #0E5A94;
    border-radius: 0;
    margin-bottom: 15px;
    width: 44%;
    color: #fff;
}

div#verify-email-form button#resend-button {
    background: #91656B !important;
    border-radius: 0;
    margin-bottom: 15px;
    width: 44%;
    border: 1px solid #91656B !important;
}

hr#email-separator {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
}

/* Web Content */
body {
    background: #E6E6E6 !important;
    color: #000 !important;
    line-height: 20px !important;
    font-weight: 300;
}

div#home-container {
    padding: 0;
    position: relative;
    margin-top: 73px;
}

div#left-sidebar {
    margin-right: -15px;
    padding-left: 0px;
    line-height: 18px;
}

div#main-body {
    width: 100% !important;
}

div#thread-issue {
    display: block;
    padding: 5px;
    margin: -15px;
    background: #fff;
    color: #888;
    margin-bottom: 0;
    margin-top: 15px;
    border-left: 3px solid #0E5A94;
}

span#thread-issue-text {
    padding-left: 10px;
    color: #888;
}

button.btn {
    border-radius: 0;
}

/* Menubar */
nav#menubar {
    border: 0;
    font-size: 1em;
    border-radius: 0 !important;
    text-transform: capitalize;;
    background: #fff !important;
    border-bottom: 3px solid #0E5A94;
}

div.navbar-header a,
li.item a,
.navbar-collapse {
    color: #000 !important;
}

input[type="text"]#search {
    border: 1px solid black;
    color: black;
    margin-left: 5px;
    margin-right: 5px;
}

ul.dropdown {
    background: none;
}

span#anonymous-checkbox {
    vertical-align: middle;
}

table#left-menu {
    background: white;
    color: black;
    text-align: center;
    padding-right: 15px;
    height: 50px;
}

tbody > tr > td {
    vertical-align: middle !important;
}

table#left-menu a {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

table#left-menu tr td button {
    background: none;
    text-transform: uppercase;
    text-align: left;
    width: 100% !important;
}

/* Page Header */
div#page-header {
    margin-bottom: 1%;
}

#button-badge {
    width: 100%;
}

div#main-post {
    text-align: justify;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* Ratebar */
div#ratebar {
    position: relative;
    vertical-align: middle;
    width: 100%;
    max-width: 100% !important;
    background: red;
}

div#ratebar span#upvote {
    background: #00FF00;
    position: relative;
    text-align: center;
    float: left;
    width: 70%;
}

div#ratebar span#downvote {
    background: red;
    position: relative;
    text-align: center;
    float: left;
    width: 30%;
}

/* Login Form */
div#login-box.fade.in {
    opacity: 1 !important;
}

div.modal-content div.modal-header {
    background: #286090;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

div.modal-content div.modal-body {
    width: 100%;
    text-align: center;
}

div.modal-body input[type="text"],
div.modal-body input[type="password"] {
    text-align: center;
    border: 0;
}

div.modal-body button#sign-up {
    border: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0;
}

/* thread */
div#submitThreadVote div#form-control input[type="radio"] {
    margin-right: 1%;
}

div.field-submitthreadvoteform-choice_text label.control-label {
    display: none;
    margin: 0;
}

div#vote button[type="submit"].btn-primary {
    width: 100% !important;
}

div.field-submitthreadvoteform-choice_text {
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
}

div.input-multiselect {
    height: auto !important;
    vertical-align: middle;
    text-align: justify;
}

h3#user-choice {
    font-weight: bold;
    text-transform: uppercase;
}

table#bio-table tbody tr td {
    border: 0;
}

button#upload-image {
    width: 148px;
    bottom: 0;
    position: absolute;
    left: 15px;
    border-radius: 0;
    opacity: 0;
}

li#search-box {
    padding: 7px;
    width: 450px;
}

li#notification {
    margin: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
}

/* removing the border for search form */
span.select2-selection--single,
span#select2-search_box_menu-container {
    color: black;
    border: 0 !important;
}

/* removing the description label */
label[for="createthreadform-description"] {
    display: none;
}

/* glyphicon style */
span#left-icon {
    margin-left: 15px;
}

span#notification-label a {
    color: black;
}

a.dropdown-toggle span.glyphicon {
    color: #000 !important;
}

li#dropdown-menu-setings ,
li.item {
    color: #fff;
    text-decoration: none;
}

li#notification-bar:hover,
li#notification-bar div#notifbar:hover {
    color: #fff !important;
}

li#dropdown-menu-setings:hover,
li.item:hover {
    background: #545249;
}

/* thread things */
blockquote#quote-on-thread {
    background: rgba(37,110,93,0.25);
    margin: 0;

}

div.tab-content {
    height: 100%;
    padding: 0px;
}

li#search-box:hover {
    background: none !important;
}

li#notif-expansion {
    text-align: center;
    background: none !important;
    margin-left: -10px;
    padding: 15px;
    margin-top: -15px;
}

li#dropdown-menu-settings a[data-toggle='dropdown'] span.glyphicon-chevron-down {
    color: #000 !important;
}


li#dropdown-menu-setings ul.dropdown-menu {
    background: #0E5A94 !important;
}

li#dropdown-menu-settings:hover a:hover,
.nav .open > a:hover,
li.item a:hover {
    text-decoration: none;
    color: #fff !important;
    background: #0E5A94 !important;
}

li#dropdown-menu-settings li.item a {
    color: #000 !important;
}

li#dropdown-menu-settings li.item a:hover {
    color: #fff !important;
}

li#notif-expansion:hover {
    color: #fff;
    transition: 0;
    background: #0E5A94 !important;
}

li#notif-expansion ul.dropdown-menu,
li#notif-expansion ul.dropdown-menu a {
    width: 500px;
    color: #000 !important;
}

li#notif-expansion ul.dropdown-menu span.glyphicon {
    padding-right: 10px;
    padding-left: 15px;
}

li#notif-expansion ul.dropdown-menu span#notification-label {
    margin: 0px 15px;
}

li.dropdown {
    background: none !important;
}

ul.dropdown-menu {
    border: 0;
    padding: 1%;
    font-size: 1em;
    border-radius: 0 !important;
    text-transform: uppercase;
    border-bottom: 3px solid #0E5A94;
}

ul.dropdown-menu div#dropdown-menu-title {
    padding: 0px 15px;
    padding-top: 15px;
}

ul.dropdown-menu div.kv-spin-center {
    padding: 15px;
}

div#main-container {
    position: relative !important;
    margin-top: 113px !important;
}

img#profile-picture-home {
    padding-right: 15px;
}

a#trigger_notification {
    background: none;
}

div#main-post-desc {
    text-align: justify;
    line-height: 30px;
    margin-left: 15px;
    padding-left: -15px;
    padding-right: 0px !important;
}

div#create-thread {
    z-index: 0;
    margin-top: 0px;
    width: 100% !important;
    padding:0px;
}

div#create-thread-wrapper {
    padding: 15px;
    padding-top: 0;
    padding-right: 0;
    padding-left: -15px;
}

div#create-thread-main-form {
    padding: 15px;
    display: none;
    background: #FFF;
}

div#verify-email-button {
    text-align: center;
    text-transform: uppercase;
}

div#verify-email-dropdown,
div#create-thread-dropdown {
    background: #0E5A94;
    color: white;
    padding: 15px;
    margin-left: 15px !important;
    width: calc(100% - 15px);
}

div#create-thread-dropdown {
    padding: 0;
    width: 100%;
    background: none;
    margin-left: 0 !important;
    border-bottom: 3px solid #eee;
}

div#create-thread-dropdown span.input-group-addon {
    border: 0;
    border-radius: 0;
}

input {
    border-radius: 0 !important;
}

input[type="text"]#create-thread-title {
    border: 0;
    color: #000;
    height: 100%;
    padding: 15px;
    border-radius: 0;
    width: calc(100% + 0.5px);
}

ul.redactor-toolbar {
    z-index: 0 !important;
}

div#submit-thread {
    vertical-align: middle;
    text-align: center;
    float: right;
}

div.panel-heading {
    text-align: center;
    text-transform: uppercase;
}

div#login-form div.form-group label.control-label {
    width: 25%;
    height: 100%;
    float: left;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

li#notification-bar {
    margin: 15px 0 0 10px;
}

/*THREAD*/
div.thread-view {
    width: 100% !important;
    padding-left: 0 !important;
    padding-top: 10px !important;
    margin-left: -15px !important;
    margin-right: -15px !important;
    padding-bottom: 30px !important;
    margin-bottom: 15px;
    box-sizing: border-box;
    background: #fff;
    border-left: 3px solid #0E5A94;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;;
}

div.ias-trigger {
    width: 100%;
    margin-top: 45px;
    padding: 15px;
}

div[id^='comment_part'] {
    margin: 15px;
    width: calc(100% - 15px);
    padding-bottom: 15px;
}

div#comment {
    margin-left: -15px !important;
}

div#comment div#w0 {
    padding: 15px;
    padding-left: 0;
}

div#comment-rate {
    float: left;
}

div#threadList div.ias-trigger,
div#threadList div.ias-noneleft {
    margin: 0;
    width: calc(100% - 15px);
}

div.thread-view {
    padding-right: 0;
}

div#threadList div.item article div#commentator-moderate {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

textarea {
    width: 100% !important;
    height: 50px !important;
}

div#main-content {
    margin-left: -15px;
}

div.ias-trigger a {
    width: 100% !important;
    text-align: center;
    padding: 15px;
    background: #0E5A94;
    color: #fff;
    text-decoration: none;
}

div#shown_part + div.row {
    padding: 15px !important;
}

div#action-button {
    padding-left: 0;
    padding-right: 0;
}

div.empty {
    padding: 15px;
    padding-left: 0;
}

div#vote {
    padding: 0;
}

div#left-part-of-thread {
    width: 100%;
}

div#first-part {
    margin-top: 20px;
    background: #fff;
    min-height: 250px;
}

div#title-part {
    color: white;
    padding: 15px;
    display: none;
    text-align: center;
    background: #074676;
    margin-bottom: 15px;
}

div.thread-title {
    margin: 0;
    padding: 30px;
    text-align: center !important;
    font-weight: bold;
    font-size: 16pt;
}


div#shown_part {
    display: block;
}

div#first-part {
    margin-bottom: 20px;
}

div#first-part div.tabs-above li {
    margin: 0;
    text-align: center;
    width: 150px;
}

div#first-part div.tabs-above li.active {
    background: #0E5A94;
}

div#first-part div.tabs-above div.tab-content div#post-description p {
    margin-left: 0 !important;
    padding: 15px;
}

div#first-part div.col-xs-12:first-child {
    padding: 0;
}

div.input-multiselect {
    margin: 0;
    padding: 15px;
    margin-top: 0;
    border-top: 0;
    border-radius: 0;
}

ul#comment-tab li {
    width: 25% !important;
}

.nav-tabs > li {
    width: 50%;
}

.nav-tabs > li > a {
    text-transform: uppercase;
    text-align: center;
    margin-right: 0 !important;
    border-radius: 0 !important;
}

div#action-button-thing {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

div#action-button-thing button {
    padding: 15px;
    float: right;
    border: 1px solid white;
    font-size: 32px;
    color: #fff;
    border-radius: 0;
    height: 64px;
    width: 64px;
    margin-left: 0;
    margin-right: 0;
    background: #1097FF;
    margin-bottom: 20px;
}

div[id^='comment_edit_part'] form[method='POST'] div.row {
    margin-right: 0;
    margin-bottom: 15px;
}

div.comment-tab div.tabs-above ul.nav-tabs {
    padding-right: 15px;
    border-bottom: 0;
}

div.comment-tab div.tabs-above ul.nav-tabs li {
    width: 25%;
    border-bottom: 1px solid #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background: #0E5A94 !important;
    color: #fff !important;
}

div#commentator-action div.commentator-comment {
    float: left;
}

div#commentator-action div.commentator-moderate {
    padding-top: 10px !important;
    float: left;

}

div#button-vote-up,
div#button-vote-down {
    padding: 0;
}

div#button-vote-up button,
div#button-vote-down button {
    border-radius: 0;
}

div.comment-tab div.tabs-above div.tab-content div.row {
    padding: 0 !important;
    margin: 0 !important;
}

div.list-view {
    padding: 0 !important;
    margin: 0 !important;
}

div.list-view div.item {
    padding: 15px !important;
    margin: -15px !important;
    margin-top: 30px !important;
}

div#main-post-desc div#threadList div.item:first-child {
    margin-top: -15px !important;
}

div.list-view div.item:first-child {
    margin-top: 0 !important;
}

div#vote-part-home {
    padding: 0;
}

div#vote-part-home select {
    border-radius: 0;
}

div#vote-part-home select option {
    padding-left: 15px;
}

div#list_thread_comment_part {
    width: 100%;
}

/* _listview_comment.php */

img.profile-picture-comment {
    width: 65px;
    height: 65px;
}

div.commentator-name a {
    margin-left: 20px;
    font-weight: bold;
}

div.comment-votes {
    padding: 0;
}

article.block-for-comment {
    margin-top: 20px;
}

div.comment-created {
    padding-left: 18px;
}

div.commentator-comment div[id^="edit_comment"] div[id^="comment_shown_part"] {
    line-height: 26px;
    margin: 0;
    margin-bottom: 15px;
}

div.commentator-moderate {
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 0;
}


/* on profile page */
div#profile-feed {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    padding: 15px;
    background: #BEBDBD;
    color: #000;
}

.sidebar-nav li {
    padding-left: -15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.sidebar-nav a[href^='followees'] li {
    border-bottom: 1px solid #ddd;
}

.sidebar-nav li:hover {
    text-decoration: none;
}

div#profile-picture-main-body {
    background: #fff;
    padding-top: 15px;
    min-height: 465px;
}

div#profile-sidebar {
    width: 100%;
}

ul#profile-sidebar-nav {
    margin-left: 0;
    border: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

div#displayName {
    padding: 15px 0px;
}

table#bio-table {
    margin: 0;
    border: 0;
    margin-top: -15px;
}

/* Profile History - Comments, Thread Starters, Following, and Followers */
div#profile-history h3 {
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0;
    padding: 15px;
    padding-left: 0;
}

div#profile-history div#thread_starter_list_view_1 {
    width: calc(100% + 15px);
    padding: 15px !important;
    padding-top: 0px !important;
}

div#profile-history div#thread_starter_list_view_2 {
    margin-left: 15px !important;
    margin-bottom: 15px;
    padding: 0 !important;
}

div#profile-history h3 {
    height: 50px;
    text-align: center;
    background: #ccc;
    width: calc(100% + 15px);
}

div#thread_starter_list_view_1 div.item {
    background: #fff;
    text-align: center;
    padding: 15px;
    padding-top: 30px;
    vertical-align: middle;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

div#thread_starter_list_view_2 div.item article div.row {
    padding: 15px;
}

div#thread_starter_list_view_2 div.item {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

div.btn-group-horizontal button {
    margin: 7px 0px;
    padding-left: 15px;
    border-radius: 0 !important;
    text-align: center;
}

div[class^='ias-noneleft'] {
    padding: 15px;
    margin-top: 45px;
}

/*LOGIN.PHP*/
div#social-icon {
    padding-left: 15px;
}

div#social-icon input[type="text"] {
    background: #0E5A94;
    color: #fff;
    border-radius: 0;
    width: 29%;
}

div#social-icon i.fa-facebook {
    color: #0E5A94;
}

/*PJAX RELATED THINGS*/
div[id^='comment_section_'] {
    background: none;
}

/*LOGIN FORM*/
div.site-login {
    color: #FFF;
    padding: 15px;
    background: #FFF;
}

div.site-login form {
    padding: 0;
}

div.site-login h1 {
    display: none;
}

div.site-login div.row div.col-xs-12 {
    padding-left: 15px;
    padding-right: 15px;
}

div.form-group {
    margin-bottom: 0;
}

div.form-group label.control-label {
    display: none !important;
}

div.form-group p.help-block-error {
    margin: 0;
    color: #FFF;
    text-align: center;
    background: rgb(255,151,16);
}

div#login-form {
    padding: 15px;
    padding-top: 0;
    background: #FFF;
}

div#login-form input[class="form-control"] {
    border: 0;
    height: 100%;
    padding: 15px;
    border-radius: 0;
    text-align: center;
}

div#login-form div[class^='col-xs-'] {
    padding-left: 0;
    padding-right: 0;
}

div#login-form button {
    border: 0;
    width: 100%;
    padding: 15px;
    border-radius: 0;
    background: #0288F0;
    text-transform: capitalize;
}

div#login-form .checkbox {
    margin: 0;
}

div#remember-me {
    width: 50%;
    padding: 15px;
    text-align: center;
    background: #1097FF;
    text-transform: capitalize;
}

div#facebook-login {
    padding: 0;
    padding-top: 150px;
}

div#facebook-login ul.auth-clients {
    margin: 0;
    padding: 0;

}
div#login-label {
    padding: 15px;
    text-align: center;
    background: #1097FF;
}

div#signup-form div#signup-title {
    padding: 15px;
    text-align: center;
    background: #1097FF;
    text-transform: capitalize;;
}

div#signup-table {
    padding: 0;
    text-align: center;
}

div#signup-table div.col-xs-6 {
    padding: 15px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
div#signup-table div.col-xs-6:last-child {
    padding-left: 15px;
}

div#signup-table input[type="text"] {
    cursor: pointer;
    text-align: center;
}

div#signup-label {
    color: #000;
    padding: 15px;
    text-align: center;
}

span.auth-title {
    display: none !important;
}

a.auth-link {
    margin: 0 !important;
    width: 100% !important;
}

div[class^='field-loginform'] label.control-label {
    display: none !important;
}

.auth-clients {
    padding: 0;
    width: 100%;
    margin: 0 !important;
    overflow: hidden !important;
}

li.auth-client {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center !important;
}

i.fa-facebook {
    width: 100%;
    color: #0E5A94;
    display: inline-block;
}

a i.fa-facebook {
    text-align: center;
}

span.fa-envelope {
    color: #000;
}

.form-group {
    margin-bottom: 0;
}

/*VOTE FUNCTION*/
div.vote-on-thread {
    padding-left: 0;
    padding-right: 0;
}

select.user-vote {
    border-radius: 0;
}

/*SIGNUP*/
div#signup-page {
    top: 50%;
    padding: 0;
    position: fixed;
    background: #FFF;
    padding-top: 15px;
    transform: translate(0,-50%);
}

h3#signup-title {
    margin: 0;
    color: #FFF;
    margin: -15px;
    padding: 15px;
    text-align: center;
    margin-bottom: 15px;
    background: #1097FF;
    text-transform: uppercase;
}

form#form-signup {
    padding: 15px;
}

form#form-signup div[class^='col-'] {
    padding-left: 0;
    padding-right: 0;
}

form#form-signup input.form-control,
form#form-signup div[class^='col-'] input.form-control {
    border: 0;
    height: 100%;
    padding: 15px;
    border-radius: 0;
    text-align: center;
}

div#signup-form {
    padding: 0;
    background: #FFF;
    text-align: center;
}

button#signup-button {
    height: 100%;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}

hr#facebook-separator {
    margin: 0;
}

div#facebook-signup {
    padding: 15px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

div#facebook-signup input[type="text"] {
    text-align: center;
}

div#give-comment-form div[class^='col-'] {
    padding: 0;
}

input[type="text"]#give-comment-text,
select#give-comment-select {
    border: 1px solid #ccc;
    border-radius: 0;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 8pt;
    }

    a.navbar-brand img {
        padding-left: 15px;
    }

    div.navbar-header button {
        padding-right: 15px;
    }

    div.home-main-section {
        margin-top: 53px;
    }

    div.container {
        padding-left: 0;
        padding-right: 0;
    }

    /*THREAD */
    div.thread-title {
        padding: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        width: calc(100%+30px);
    }

    div#first-part {
        margin-top: 0;
    }

    div#main-container {
        margin-top: 20px;
    }

    div#left-part-of-thread {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    div#action-button-thing button {
        font-size: 16px;
        width: 25%;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 20px;
        color: #fff;
        border-radius: 0;
        background: #1097FF;
    }

    li#notif-expansion a.dropdown-toggle {
        margin-left: -10px;
    }

    li#search-box {
        width: 100%;
    }

    div#left-sidebar {
        display: none;
    }

    div#main-content {
        margin-left: 0;
    }

    nav#menubar {
        margin-bottom: 0;
    }

    div.container {
        width: 100%;
    }

    div#verify-email {
        margin-left: -15px;
        top: 50px;
        position: fixed;
        width: 100%;
    }

    div#verify-email-dropdown {
        width: 100%;
    }

    div#verify-email-form {
        width: calc(100%);
        padding-left: -15px;
    }

    li#notif-expansion {
        text-align: left;
    }

    a#trigger_notification {
        padding-left: 10px;
        background: none;
    }

    a#trigger_notification:hover {
        color: white;
    }

    li#notif-expansion ul.dropdown-menu {
        width: 100%;
        margin-top: 15px;
    }

    div.site-login div.col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }

    div.site-login div.row {
        padding-left: 15px;
    }

    div.site-login div.row div#signup-form {
        padding-left: 0;
        padding-right: 15px;
    }

    div.site-login div.row div#login-form {
        padding-left: 0;
    }

    div#signup-page {
        width: 96%;
    }

    /*PROFILE RESPONSIVE*/
    div#profile-picture-main-body {
        margin-top: 0;
    }

    div#profile-history {
        float: right;
        padding-left: 30px;
    }

    ul#profile-sidebar-nav {
        margin-left: -15px;
    }
}
