body {
    background: #E6E6E6 !important;
    color: #000 !important;
    line-height: 20px !important;
    font-weight: 300;
}

div#home-container {
    padding: 0;
    position: relative;
    margin-top: 73px;
}

div#main-container {
    position: relative !important;
    margin-top: 113px !important;
}

div#page-header {
    margin-bottom: 1%;
}

/* MENU BAR */
nav#menubar {
    border: 0;
    font-family: 'Montserrat', sans-serif;
    color #888785;
    font-size: 1em;
    border-radius: 0 !important;
    text-transform: capitalize;;
    background: #fff !important;
    border-bottom: 3px solid #0E5A94;
}

div.navbar-header a,
li.item a,
.navbar-collapse {
    color: #000 !important;
}

li.item a[href$='home'],
li.user_item a[href$='home'] {
    margin-right: -30px;
    margin-left: 15px;
}

#home_menu_bar{
    margin-right: 16px;
    overflow: visible;
}

/* DROPDOWN */
.item > .dropdown {
    overflow:hidden
}

a.dropdown-toggle span.glyphicon {
    color: #000 !important;
}

li#dropdown-menu-setings ,
li.item,
li.user_item {
    flex-shrink: 0;
    color: #fff;
    text-decoration: none;
}

li#dropdown-menu-settings a[data-toggle='dropdown'] span.glyphicon-chevron-down {
    color: #000 !important;
}

li#dropdown-menu-settings ul.dropdown-menu {
    background: #29B6F6 !important;
}

li#dropdown-menu-setings:hover {
    background: #545249;
}

li#dropdown-menu-settings:hover a:hover,
.nav .open > a:hover,
li.item a:hover {
    text-decoration: none;
    color: #fff !important;
    background: #29B6F6 !important;
}

li#dropdown-menu-settings li.item a {
    color: #000 !important;
}

li#dropdown-menu-settings li.item a:hover {
    color: #fff !important;
    background: #29B6F6 !important;
}

li.dropdown {
    background: none !important;
}

ul.dropdown {
    background: none;
}

ul.dropdown-menu {
    border: 0;
    padding: 1%;
    font-size: 1em;
    border-radius: 0 !important;
    text-transform: uppercase;
    background: #29B6F6;
    border-bottom: 3px solid #29B6F6;
}

ul.dropdown-menu div#dropdown-menu-title {
    padding: 0px 15px;
    padding-top: 15px;
}

ul.dropdown-menu div.kv-spin-center {
    padding: 15px;
}

/* SEARCH BOX */
li#search-box {
    width: 50%;
    display: inline-table;
    vertical-align: middle;
}

li#search-box:hover {
    background: none !important;
}

li#search-box.item {
    padding: 7px;
}

li#search-box.user_item {
    padding: 7px;
    margin-left: -50%;
}

span.select2-selection--single,
span#select2-search_box_menu-container {
    margin-left: 15px;
    color: black;
    width: 100%;
    border: 0 !important;
}

span.select2-selection__arrow {
    float: left;
    display: none;
}

.select2-search__field {
    width: 100% !important;
}

.s2-togall-button {
    display: none !important;
}

/* NOTIFICATION */
li#notification {
    margin: 15px;
    margin-top: 10px;
    margin-bottom: 0px;
}

a.notification-item {
    display: block;
    width:100%;
    margin-bottom: 5px;
    margin-top:5px;
    text-transform: none;
}

div.notification.list,
div.notification-list-content,
div.notification-list-status {
    padding: 0 !important;
}

div.notification.list:hover {
    background: #00E5FF !important;
}

div.notification-list-status i.fa {
    margin-top: 27px;
    text-align: center;
    margin-bottom: 27px;
}

div#list-wrapper div div.col-xs-12 {
    background: #FFFFFF;
}

div.notification-list-content a:hover {
    background: none !important;
}

.notification-status {
    content: "\25cf";
}

.notification-read {
    color: white;
}

i.notification-unread {
    color: #FFF;
}

i.notification-unread {
    color: #1097FF;
}

a#trigger_notification {
    margin-left: 0 !important;
    background: none;
}

span#notification-label a {
    color: black;
}

li#notification-bar:hover,
li#notification-bar div#notifbar:hover {
    color: #fff !important;
}

li#notif-expansion {
    background: none !important;
    padding: 15px;
    padding-left: 15px;
    padding-right: 0;
    margin-left: 15px;
    margin-top: -15px;
}

li#notif-expansion:hover {
    color: #fff;
    transition:0;
    background: #29B6F6 !important;
}

li#notif-expansion ul.dropdown-menu,
li#notif-expansion ul.dropdown-menu a {
    color: #000 !important;
}

li#notif-expansion ul.dropdown-menu span.glyphicon {
    padding-right: 10px;
    padding-left: 15px;
}

li#notif-expansion ul.dropdown-menu span#notification-label {
    margin: 0px 15px;
}

li#notification-bar {
    margin-top: 14px;
}

/* MODAL LOGIN */
div.modal-content div.modal-header {
    background: #286090;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}

div.modal-content div.modal-body {
    width: 100%;
    text-align: center;
}

div.modal-body input[type="text"],
div.modal-body input[type="password"] {
    text-align: center;
    border: 0;
}

div.modal-body button#sign-up {
    border: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 0;
}

/* LOGIN FORM */
div#login-form {
    padding: 15px;
    padding-top: 0;
    padding-right: 0;
    background: #FFF;
}
div#login-form div.form-group label.control-label {
    width: 25%;
    height: 100%;
    float: left;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

div#facebook-signup-wrapper {
    padding-right: 15px;
    height: 34.44px;
}

div#email-signup-wrapper {
    padding-left: 15px;
    height: 34.44px;
}

div#login-form input[class="form-control"] {
    border: 0;
    height: 100%;
    padding: 15px;
    border-radius: 0;
    text-align: center;
}

div#login-form div.col-xs-12:last-child {
    padding-top: 0;
}

div#login-form div.col-xs-6:last-child {
    padding-right: 0;
}

div#login-form button {
    border: 0;
    width: 100%;
    padding: 15px;
    border-radius: 0;
    background: #0288F0;
    text-transform: capitalize;
}

div#login-form .checkbox {
    margin: 0;
}

div#login-label {
    padding: 15px;
    text-align: center;
    background: #1097FF;
}

div#login-box.fade.in {
    opacity: 1 !important;
}

div#remember-me {
    width: 50%;
    padding: 15px;
    text-align: center;
    background: #1097FF;
    text-transform: capitalize;
}

/* SITE LOGIN */
div.site-login {
    color: #FFF;
    padding: 15px;
    /*background: url('/frontend/web/img/login_bg.jpg');*/
    background: url('/frontend/web/img/login_bg.jpg');
    background-repeat: repeat;
}

div.site-login form {
    padding: 0;
}

div.site-login h1 {
    display: none;
}

div.site-login div.row {
    padding-left: 15px;
    padding-right: 15px;
}

div.site-login div.row div.col-xs-12 {
    padding: 0;
}

div.site-login div.row div.col-xs-12:first-child {
    padding-left: 0px;
}

div.site-login div.row div.col-xs-12:last-child {
    padding-right: 0px;
}

div#signup-title,
div#login-label {
    margin-bottom: 15px;
}


/* SIGN UP */
div#signup-page {
    top: 50%;
    padding: 0;
    position: fixed;
    background: #FFF;
    padding-top: 15px;
    transform: translate(0,-50%);
}

h3#signup-title {
    margin: 0;
    color: #FFF;
    margin: -15px;
    padding: 15px;
    text-align: center;
    margin-bottom: 15px;
    background: #1097FF;
    text-transform: uppercase;
}

form#form-signup {
    padding: 15px;
}

form#form-signup div[class^='col-'] {
    padding-left: 0;
    padding-right: 0;
}

form#form-signup input.form-control,
form#form-signup div[class^='col-'] input.form-control {
    border: 0;
    height: 100%;
    padding: 15px;
    border-radius: 0;
    text-align: center;
}

div#signup-form {
    padding: 0;
    background: #FFF;
    text-align: center;
}

button#signup-button {
    height: 100%;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
}

div#signup-form div#signup-title {
    padding: 15px;
    text-align: center;
    background: #1097FF;
    text-transform: capitalize;;
}

div#signup-table {
    padding: 0;
    text-align: center;
}

div#signup-table div.col-xs-6 {
    padding: 15px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
div#signup-table div.col-xs-6:last-child {
    padding-left: 15px;
}

div#signup-table input[type="text"] {
    cursor: pointer;
    text-align: center;
    height: 34.44px;
}

div#signup-label {
    color: #000;
    padding: 15px;
    text-align: center;
}

/* FACEBOOK */
hr#facebook-separator {
    margin: 0;
}

div#facebook-signup {
    padding: 15px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

div#facebook-signup input[type="text"] {
    text-align: center;
}

i.fa-facebook {
    width: 100%;
    color: #0E5A94;
    display: inline-block;
}

a i.fa-facebook {
    text-align: center;
}

div#facebook-login {
    padding: 0;
    padding-top: 150px;
}

div#facebook-login ul.auth-clients {
    margin: 0;
    padding: 0;
}

/* THREAD */
div#thread-issue {
    display: block;
    margin: -15px;
    color: blue;
    margin-bottom: 0;
    margin-top: 5px;
}

div#thread-issue-wrapper {
    margin: 15px;
    margin-left: 0;
}

span#thread-issue-text {
    padding: 15px;
    padding-left: 0;
}

div.thread-view {
    width: 100%;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 0;
    margin-left: -15px;
    margin-right: -15px;
    box-sizing: border-box;
}

div.thread-title {
    margin: 0;
    padding: 15px;
    text-align: center !important;
    font-weight: bold;
    font-size: 16pt;
}

div.thread-details {
    padding-left: 0;
    padding-right: 0;
}

div#submitthreadvoteform-choice_text label.btn-warning {
    margin: 0 !important;
}

div#left-part-of-thread {
    width: 100%;
}

div.ias-trigger {
    width: 100%;
    margin-top: 45px;
    padding: 15px;
}

div.ias-trigger a {
    width: 100% !important;
    text-align: center;
    padding: 15px;
    background: #29B6F6;
    color: #fff;
    text-decoration: none;
}

div[id^='comment_part'] {
    margin: 15px;
    width: calc(100% - 15px);
    padding-bottom: 15px;
}

div#threadList div.ias-trigger,
div#threadList div.ias-noneleft {
    margin: 0;
    width: calc(100% - 15px);
}

/* COMMENT */
div#comment {
    margin-left: -15px !important;
}

div#comment div#w0 {
    padding: 15px;
    padding-left: 0;
}

div#comment-rate {
    float: left;
}

div.user-comment-reaction {
    padding-top: 15px;
}

div.user-comment-reaction div.col-xs-11 hr {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

button.give_comment {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

div.give-comment-button {
    width: 20%;
}

input[type="text"]#give-comment-text,
select#give-comment-select {
    border: 1px solid #ccc;
    border-radius: 0;
}

div/user-comment-reaction div.col-xs-12:last-child {
    z-index: -1;
}

/* USER COMMENT REACTION */
div.empty {
    padding: 15px;
    padding-left: 0;
}

div[id^='comment_part_'] {
    padding: 0;
}

form[id^='submit_child_comment_form'] div.col-xs-12 {
    padding: 0 !important;
}

form[id^='submit_child_comment_form'] div.col-xs-6 {
    padding: 0;
}

form[id^='submit_child_comment_form'] div.col-xs-6 button {
    float: right !important;
}

div#shown_part {
    display: block;
}

div#shown_part + div.row {
    padding: 15px !important;
}

div[id^='dropdown-button'] {
    margin-left: 15px;
}

div[id^='dropdown-button'] button#button-dropdown {
    background: none;
    font-family: 'Montserrat', sans-serif;
}

div[id^='dropdown-button'] ul[id^='comment-options'] {
    top: 35.09px;
    margin-left: -40.23px;
    position: relative;
    /*display: none;*/
}

div#first-part div.tabs-above li {
    margin: 0;
    text-align: center;
    width: 150px;
}

div#first-part div.tabs-above li.active {
    background: #0277BD;
}

div#first-part div.tabs-above div.tab-content div#post-description p {
    margin-left: 0 !important;
    padding: 15px;
}

div#first-part div.col-xs-12:first-child {
    padding: 0;
}

div#main-post-desc div#threadList div.item:first-child {
    margin-top: -15px !important;
}

div.list-view div.item:first-child {
    margin-top: 0 !important;
}

ul.pagination {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0 !important;
}

div#vote {
    padding: 0;
}

div#vote-part-home {
    padding: 0;
}

div#vote-part-home select {
    border-radius: 0;
}

div#vote-part-home select option {
    padding-left: 15px;
}

div#list_thread_comment_part {
    width: 100%;
}

div.input-multiselect {
    margin: 0;
    padding: 15px;
    margin-top: 0;
    border-top: 0;
    border-radius: 0;
}

div.tab-content {
    height: 100%;
    padding: 0px;
}

ul#comment-tab li {
    width: 25% !important;
}

.nav-tabs > li {
    width: 50%;
}

.nav-tabs > li > a {
    text-transform: uppercase;
    text-align: center;
    margin-right: 0 !important;
    border-radius: 0 !important;
}

div#action-button {
    padding-left: 0;
    padding-right: 0;
}

div#action-button-thing {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

div#action-button-thing button {
    padding: 15px;
    float: right;
    border: 1px solid white;
    font-size: 32px;
    color: #fff;
    border-radius: 0;
    height: 64px;
    width: 64px;
    margin-left: 0;
    margin-right: 0;
    background: #1097FF;
    margin-bottom: 20px;
}

div.home-comment-tab {
    padding-top: 5px;
}

div.home-comment-tab div.col-xs-12:last-child {
    padding-left: 0;
}

div[id^='comment_edit_part'] form[method='POST'] div.row {
    margin-right: 0;
    margin-bottom: 15px;
}

div.comment-tab div.tabs-above ul.nav-tabs {
    padding-right: 15px;
    border-bottom: 0;
}

div.comment-tab div.tabs-above ul.nav-tabs li {
    width: 25%;
    border-bottom: 1px solid #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background: #3b5998 !important;
    color: #fff !important;
}

input[id^="dropdown-comment-input-"],
table[id^='user-table-comment-'] {
    display: none;
}

input[id^="dropdown-comment-input-"]:checked ~ table[id^='user-table-comment-'] {
    display: block;
}

div#commentator-action div.commentator-comment {
    float: left;
}

div#commentator-action div.commentator-moderate {
    padding-top: 10px !important;
    float: left;
}


article.block-for-comment div.col-xs-12 {
    padding-left: 0;
}

div#button-vote-up,
div#button-vote-down {
    padding: 0;
}

div#button-vote-up button,
div#button-vote-down button {
    border-radius: 0;
}

div.comment-tab div.tabs-above div.tab-content div.row {
    padding: 0 !important;
    margin: 0 !important;
}

div.list-view {
    padding: 0 !important;
    margin: 0 !important;
}

div.list-view div.item {
    padding: 15px !important;
    margin: -15px !important;
}

img.profile-picture-comment {
    width: 60px;
    height: 60px;
}

div.commentator-name a {
    font-weight: bold;
}

div.comment-votes {
    padding: 0;
}

article.block-for-comment {
    margin-top: 20px;
    z-index: -1000;
}

div.comment-created {
    padding-left: 18px;
}

div.commentator-comment div[id^="edit_comment"] div[id^="comment_shown_part"] {
    line-height: 26px;
    margin: 0;
    margin-bottom: 15px;
}

div[id^="comment_shown_part"] p {
    margin-left: 0 !important;
}

div.commentator-moderate {
    margin-top: 15px;
    padding: 0;
}

div.btn-group-horizontal button {
    margin: 7px 0px;
    padding-left: 15px;
    border-radius: 0 !important;
    text-align: center;
}

div[class^='ias-noneleft'] {
    padding: 15px;
    margin-top: 45px;
}

/* EMAIL FORM */

div#verify-email {
    position: absolute;
    width: 21.5%;
    margin-left: 91%;
}

div#verify-email-form {
    background: #fff;
    display: none;
    padding: 15px;
    margin-left: 15px;
    width: calc(100% - 15px);
    vertical-align: middle;
}

div#verify-email-button {
    text-align: center;
    text-transform: uppercase;
}

div#verify-email-dropdown,
div#create-thread-dropdown {
    background: #0E5A94;
    color: white;
    padding: 15px;
    margin-left: 15px !important;
    width: calc(100% - 15px);
}

div#verify-email-form input[type='email'] {
    padding: 15px;
    border: 1px solid #0E5A94;
    border-radius: 0;
    width: 90% !important;
    text-align: center;
}

div#verify-email-form button {
    background: #0E5A94 !important;
    border: 1px solid #0E5A94;
    border-radius: 0;
    margin-bottom: 15px;
    width: 44%;
    color: #fff;
}

div#verify-email-form button#resend-button {
    background: #91656B !important;
    border-radius: 0;
    margin-bottom: 15px;
    width: 44%;
    border: 1px solid #91656B !important;
}

hr#email-separator {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 90%;
}

/* CREATE THREAD */
div#create-thread {
    z-index: 0;
    margin-top: 0px;
    width: 100% !important;
    padding:0px;
}

div#create-thread-wrapper {
    padding: 15px;
    padding-top: 0;
    padding-right: 0;
    padding-left: -15px;
}

div#create-thread-main-form {
    padding: 15px;
    margin-bottom: 10px;
    display: none;
    background: #FFF;
}

div#create-thread-dropdown {
    padding: 0;
    width: 100%;
    background: none;
    margin-left: 0 !important;
    border-bottom: 3px solid #eee;
}

div#create-thread-dropdown span.input-group-addon {
    border: 0;
    border-radius: 0;
}

input[type="text"]#create-thread-title {
    border: 0;
    color: #000;
    height: 100%;
    padding: 15px;
    border-radius: 0;
    width: calc(100% + 0.5px);
}

label[for="createthreadform-description"] {
    display: none;
}

ul.redactor-toolbar {
    z-index: 0 !important;
}

div#submit-thread {
    vertical-align: middle;
    text-align: center;
    float: right;
}

span#anonymous-checkbox {
    vertical-align: middle;
}

/* SECTION, SIDEBAR, BODY */

div#left-sidebar {
    margin-right: -15px;
    padding-left: 0px;
    line-height: 18px;
}

.section{
    padding: 0px !important;
    margin-top: 15px;
}

.home-main-section{
    padding:0px !important;
    margin-left: 0;
    margin-top: 0px;
    width:100%;
}

div#main-body {
    width: 100% !important;
}

div#main-post {
    text-align: justify;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

/* THREAD PAGE */
div#main-content {
    margin-left: -15px;
}

div#first-part {
    margin-top: 20px;
    background: #fff;
    min-height: 180px;
}

div#title-part {
    color: white;
    padding: 15px;
    display: none;
    text-align: center;
    background: #074676;
    margin-bottom: 15px;
}

div#main-post-desc {
    text-align: justify;
    line-height: 30px;
    padding-right: 0px !important;
}

form[id^='retrieve_comment_form_'] {
    padding-bottom: 15px;
}

div#submitThreadVote div#form-control input[type="radio"] {
    margin-right: 1%;
}

div.field-submitthreadvoteform-choice_text label.control-label {
    display: none !important;
    margin: 0;
}

div#vote button[type="submit"].btn-primary {
    width: 100% !important;
}

div.field-submitthreadvoteform-choice_text {
    margin: 0;
    padding-right: 15px;
    padding-left: 15px;
}

div.input-multiselect {
    height: auto !important;
    vertical-align: middle;
    text-align: justify;
}

h3#user-choice {
    font-weight: bold;
    text-transform: uppercase;
}

.thread-link{
    font-size:20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.thread-link hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.thread-link div.col-xs-12 hr {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.home-thread-list{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

div.thread-title-list {
    padding-left: 0;
}

.list-thread{
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    padding-left: 10px;
}

div#action-button,
div#thread-issue-wrapper span#thread-issue-text {
    padding-left: 15px !important;
}

/* PROFILE PAGE */
div#profile-history {
    float: right;
    padding-left: 30px;
}

div#profile-history h3 {
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0;
    padding: 15px;
    padding-left: 0;
    height: 50px;
    text-align: center;
    background: #ccc;
    width: calc(100% + 15px);
}

div#profile-history div#thread_starter_list_view_1 {
    width: calc(100% + 15px);
    padding: 15px !important;
    padding-top: 0px !important;
}

div#profile-history div#thread_starter_list_view_2 {
    margin-left: 15px !important;
    margin-bottom: 15px;
    padding: 0 !important;
}

div#profile-picture-main-body {
    background: #fff;
    padding-top: 15px;
    min-height: 100%;
}

div#profile-sidebar {
    width: 100%;
}

div#profile-sidebar-nav {
    width: 12.5% !important;
}

ul#profile-sidebar-nav {
    width: 25%;
    margin-left: 0;
    border: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

div#profile-sidebar-nav {
    display: none;
}

div#profile-feed {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    padding: 15px;
    background: #BEBDBD;
    color: #000;
}

.sidebar-nav li {
    padding-left: -15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.sidebar-nav a[href^='followees'] li {
    border-bottom: 1px solid #ddd;
}

.sidebar-nav li:hover {
    text-decoration: none;
}

div#displayName {
    padding: 15px 0px;
    line-height: 32px;
}

div#thread_starter_list_view_1 div.item {
    background: #fff;
    text-align: center;
    padding: 15px;
    padding-top: 30px;
    vertical-align: middle;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

div#thread_starter_list_view_2 div.item article div.row {
    padding: 15px;
}

div#thread_starter_list_view_2 div.item {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
}

table#table-profile-sidebar {
    display: none;
}

table#bio-table {
    margin: 0;
    border: 0;
    margin-top: -15px;
}

table#bio-table tbody tr td {
    border: 0;
}

button#upload-image {
    width: 148px;
    bottom: 0;
    position: absolute;
    left: 15px;
    border-radius: 0;
    opacity: 0;
}

#profile-details{
    margin-left: 15px
}

img#profile-picture-home {
    padding-right: 15px;
}

/* VOTE FUNCTION */
div.vote-on-thread {
    padding-left: 0;
    padding-right: 0;
}

select.user-vote {
    border-radius: 0;
}

/* AUTHENTICATION */
span.auth-title {
    display: none !important;
}

a.auth-link {
    margin: 0 !important;
    width: 100% !important;
}

div[class^='field-loginform'] label.control-label {
    display: none !important;
}

.auth-clients {
    padding: 0;
    width: 100%;
    margin: 0 !important;
    overflow: hidden !important;
}

li.auth-client {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center !important;
}

/* FORM GROUP */
div.form-group {
    margin-bottom: 0;
}

div.form-group label.control-label {
    display: none !important;
}

div.form-group p.help-block-error {
    margin: 0;
    color: #FFF;
    text-align: center;
    background: rgb(255,151,16);
}

/* INPUT */
input {
    border-radius: 0 !important;
}

div.input-group {
    width: 100% !important;
}

/* SOCIAL ICON */

div#social-icon {
    padding-left: 15px;
}

div#social-icon input[type="text"] {
    background: #0E5A94;
    color: #fff;
    border-radius: 0;
    width: 29%;
}

div#social-icon i.fa-facebook {
    color: #0E5A94;
}

/* TABLE */
table#left-menu {
    background: white;
    color: black;
    text-align: center;
    padding-right: 15px;
    height: 50px;
}

table#left-menu a {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

table#left-menu tr td button {
    background: none;
    text-transform: uppercase;
    text-align: left;
    width: 100% !important;
}

tbody > tr > td {
    vertical-align: middle !important;
}

/* OTHER STYLES */
.name-link{
    font-size: 15px;
    font-weight:bold;
}

div.inline{
    float:left;
}

/* CUSTOM HTML STYLE */
article {
    overflow:hidden;
}

select {
    border: 0 !important;
}

textarea {
    width: 100% !important;
    height: 50px !important;
}

hr.separator {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* PJAX */
div[id^='comment_section_'] {
    background: none;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 0;
}

/* ICON */
span#left-icon {
    margin-left: 15px;
}

span.fa-envelope {
    color: #000;
}

/* BUTTON */
button.btn {
    border-radius: 0;
}

.button-like-link{
    border: none;
    background: rgba(170,196,222,.25);
    color: #001E70;
    padding: 0!important;
    font: inherit;
    font-weight: bold;
    cursor: pointer;
}

/* MEDIA QUERY */
@media screen and (max-width: 400px) {
    div.navbar-header {
        margin: 0 !important;
        float: left !important;
        width: calc(100% + 45px) !important;
    }

    div.navbar-header button.navbar-toggle {
        margin-right: 60px;
    }

    li.item {
        padding-left: 15px;
    }

    li.item a[href$='home'],
    li.user_item a[href$='home'] {
        width: calc(100% + 15px);
        margin-left: 0 !important;
    }

    div.home-comment-tab div.inline {
        width: 100% !important;
        margin: 0 !important;
    }

    div[id^='button-vote'].btn {
        width: 50%;
        align-items: center;
        margin: 0 !important;
    }

    div#button-vote-up {
        float: left;
        margin-right: 15px;
    }

    div#button-vote-down {
        float: right;
        margin-left: 15px;
    }

    div#child_comment_1 div.inline {
        padding-top: 15px;
        width: 100% !important;
    }

    div#child_comment_1 div.inline a.btn {
        width: 100%;
        border-radius: 0;
        margin: 0 !important;
    }

    /* THREAD */
    div#thread-issue div.col-xs-3 {
        margin-left: -30px !important;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
        font-size: 8pt;
    }

    div.navbar-header button {
        margin-right: 45px;
    }

    li#search-box {
        width: 100%;
    }

    /* LOGIN AND SIGN UP */
    div#signup-title,
    div#signup-table {
        width: calc(100% + 15px);
    }

    div.site-login div.row:last-child {
        padding-left: 0;
        padding-right: 0;
        width: calc(100% + 15px);
    }

    div.site-login div.row div.col-xs-12 div#signup-form {
        padding: 15px;
        padding-bottom: 0;
    }

    div.site-login div.row div.col-xs-12 div#signup-form div.col-xs-6 {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    div.site-login div.row div.col-xs-12 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    /* LOGIN */
    div#login-form {
        padding: 0;
        padding-left: 15px !important;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    button#sign-up {
        height: 50px;
    }

    div.checkbox {
        padding: 15px;
        vertical-align: middle;
    }

    /* HOME */
    div#home-container.container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    div#home-container div[class^='col-'] {
        padding: 0;
    }

    article.list-thread div#thread-issue {
        padding-left: 15px;
        padding-right: 15px;
    }

    div#thread-issue div[class^='col-'] {
        margin: 0;
        margin-top: 15px;
        padding-left: 15px;
        float: left;
    }

    /* CREATE THREAD */
    div#create-thread-wrapper {
        margin-left: -15px;
        width: calc(100% - 15px) !important;
    }

    div#create-thread-dropdown {
        width: calc(100% + 30px);
    }

    div#create-thread-main-form {
        padding: 15px !important;
        width: calc(100% + 30px);
    }

    /* THREAD LIST */
    div#threadList div.item {
        width: calc(100% + 15px);
        padding-right: 0 !important;
    }

    div.col-xs-12.thread-view {
        margin: 0;
    }

    button#retrieve-input-box-button-1 {
        margin-bottom: 15px;
    }

    /* THREAD */

    div#thread-issue.row div.col-xs-3 {
        padding-right: 15px;
    }

    div#comment_input_box_section_1 {
        padding: 30px !important;
        padding-top: 0 !important;
    }

    div#comment_input_box_section_1 {
        margin-left: -30px;
    }

    div#comment_input_box_section_1 div.row {
        padding-left: 15px;
        padding-right: 15px;
    }


    div#first-part,
    div#comment-tab-container {
        margin-left: 15px;
        margin-right: 15px;
    }

    /* USER COMMENT */
    form[id^='submit_child_comment_form'] div.col-xs-12 {
        padding: 15px !important;
        padding-top: 0 !important;
    }

    form[id^='submit_child_comment_form'] div.col-xs-12 button {
        color: #fff;
        background: #0E5A94 !important;
    }

    /* PROFILE */
    div#profile-history{
        width: 100%;
        margin: 0;
        padding: 0;
    }
}

@media screen and (width: 888px) {
    /* SEARCH BOX */
    .navbar-header {
        width: 25% !important;
    }
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
    /* SEARCH BAR */
    div.navbar-header {
        width: 25% !important;
    }

    ul#menubar-left {
        display: none;
    }
    ul#menubar-left {
        width: 45%;
    }

    #left-sidebar {
        display: none;
    }

    .navbar-header {
        width: 20%;
    }
}

@media screen and (min-width: 887px) and (max-width: 899px) {
    .navbar-header {
        width: 25% !important;
    }

    ul#menubar-left {
        width: 75% !important;
    }

    li#search-box {
        width: 25%;
    }
}

@media screen and (max-width: 900px) {
    ul#menubar-left {
        display: none !important;
    }

    li#search-box {
        width: 25%;
    }

    div#signup-table {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 950px) {
    /* ADDITIONAL ELEMENT ON HOME */
    div#left-sidebar {
        display: none !important;
    }

    /* LOGIN */
    div#login-form {
        padding-left: 0;
    }

    /* PROFILE PAGE */
    table#table-profile-sidebar {
        display: block;
        width: 100%;
    }

    div#profile-history.col-xs-9,
    div#profile-sidebar.col-xs-12 {
        width: 100%;
        padding: 0;
    }

    ul#profile-sidebar-nav {
        display: none;
    }

    div#profile-history h3 {
        width: 100%;
    }

    div#profile-picture-main-body {
        padding: 15px !important;
    }

    div#profile-sidebar-nav{
        display: none !important;
    }
}


@media screen and (min-width: 935px) and (max-width: 992px) {
    /* Search Menu */
    ul#menubar-left {
        display: none;
    }

    li#search-box {
        width: 20%;
    }

    /* Additional search settings */
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse {
        overflow-x: visible !important;
    }

    .navbar-collapse.in {
        overflow-y: auto !important;
    }

    .collapse.in {
        display: block !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
        font-size: 8pt;
    }

    div.home-main-section {
        margin-top: 0px;
    }

    ul.nav li.item {
        padding-left: 15px;
    }

    div.container {
        padding-left: 0;
        padding-right: 0;
    }

    div#left-sidebar {
        display: none;
    }

    div#home-container {
        margin-top: 73px !important;
        margin-left: -15px;
        width: calc(100% + 30px);
        padding-left: 0;
        padding-right: 0;
    }

    div[class^='comment-tab'] {
        background: #000 !important;
        margin-left: -25% !important;
    }

    form[id^='form_user_vote'] div.inline {
        margin-left: 13px;
    }

    /* SEARCH BAR */

    ul#menubar-left {
        width: 30% !important;
    }

    ul#menubar-right {
        width: 50% !important;
    }

    li#home_menu_bar{
        width: 20%;
    }
    li#notification-bar{
        width:35%;
        white-space: nowrap;

    }

    li#search-box {
        width: 100%;
    }

    /*THREAD */
    div.thread-title {
        padding: 0;
        margin-top: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: calc(100%+ 30px) !important;
    }

    div#thread-main-body {
        margin-top: -18px;
    }

    span#thread-issue-text {
        padding: 15px;
        padding-left: 0;
        margin-top: 15px;
    }

    .section {
        padding-left: 0;
        padding-right: 0;
        margin-left: -15px;
    }

    div#thread-details {
        padding-left: 0;
        width: calc(100% - 15px);
    }

    div#comment-tab {
        width: 100%;
        margin-left: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    div#first-part {
        margin-top: 0;
        margin-left: 15px;
    }

    div#main-container {
        margin-top: 20px;
    }

    div#left-part-of-thread {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    div#action-button-thing button {
        font-size: 16px;
        width: 25%;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 20px;
        color: #fff;
        border-radius: 0;
        background: #1097FF;
        padding-left: 15px;
    }

    li#notif-expansion a.dropdown-toggle {
        margin-left: -10px;
    }

    div#create-thread {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    div#main-content {
        margin-left: 0;
    }

    nav#menubar {
        margin-bottom: 0;
    }

    div.container {
        width: 100%;
    }

    div#verify-email {
        margin-left: 0;
        top: 50px;
        position: fixed;
        width: 100%;
    }

    div#verify-email-dropdown {
        width: 100%;
        margin-left: -30px;
    }

    div#verify-email-form {
        width: calc(100%);
        padding-left: -15px;
    }

    li#notif-expansion {
        text-align: left;
        padding-left: 30px;
    }

    a#trigger_notification {
        padding-left: 10px;
        background: none;
    }

    a#trigger_notification:hover {
        color: white;
    }

    li#notif-expansion ul.dropdown-menu {
        width: 100%;
        margin-top: 15px;
    }

    a#trigger_notification {
        margin: 0 !important;
        padding: 0 !important;
    }

    div.site-login div.col-xs-12 {
        padding-left: 0;
        padding-right: 0;
    }

    div.site-login div.row {
        padding-left: 15px;
    }

    div.site-login div.row div#signup-form,
    div.site-login div.row div#login-form {
        padding-left: 15px;
        padding-right: 15px;
    }

    div#signup-page {
        width: 96%;
    }

    /*PROFILE RESPONSIVE*/
    div#profile-picture-main-body {
        margin-top: -20px;
        margin-left: 15px;
        margin-right: 15px;
        width: calc(100% - 30px);
    }

    div#profile-history {
        float: right;
        padding-left: 30px;
    }

    div#profile-feed {
        width: 100%;
    }

    ul#left-menu {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    /* SIGN UP */
    div#facebook-signup-wrapper,
    div#email-signup-wrapper {
        width: calc(50% - 15px);
    }

    div#email-signup-wrapper {
        margin-left: 15px !important;
    }

    div#thread-issue {
        display: block;
        padding-left: 15px;
    }

    a.dropdown-toggle {
        padding-left: 15px !important;
    }

    div#comment_input_box_section_1 div.row {
        margin: 0;
    }

    /* ANONYMOUS */
    div#comment-input-anonymous-section-anonymous-1 div.inline label {
        padding: 15px;
        background: #ddd;
        padding-bottom: 0;
        padding-top: 7px;
    }

    div#comment-input-anonymous-section-anonymous-1 div.inline button {
        margin-left: 15px;
    }

    form[id^='form_user_vote'] div.inline {
        margin-left: 45px;
    }

    ul#menubar-left {
        padding-left: 15px;
        width: 41% !important;
    }


    ul#menubar-right {
        width: 42% !important;
    }

    li#search-box {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .nav-container {
        margin-left:100px;
    }

    /* SIGN UP */
    div#signup-table {
        margin-bottom: 15px;
    }

    div#facebook-signup-wrapper,
    div#email-signup-wrapper {
        padding: 0 !important;
    }

    /* LOGIN */
    div#login-form {
        margin-left: -15px;
        padding-left: 15px;
    }

}
