.thread-vote-comment-radio-button{
	padding: 1px 10px;
	background-color: #ffffff;
	border-radius: 0; 
	color : #ff6600;
        border: 2px solid;
	border-color : #ff6600;
}

.thread-vote-comment-radio-button:hover{
	padding: 1px 10px;
	background-color: #ff6600;
	border-radius: 0; 
	color : #ffffff;
}

.thread-vote-comment-radio-button.disabled{
	padding: 1px 10px;
	background-color: #ff6600;
	border-radius: 12px; 
	color : #ffffff;
}

.thread-vote-comment-hide {
    display: none;
}

.thread-vote-comment-container {
    margin-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid;
    border-color: lightgray;
    margin-bottom: 8px;
}


.thread-vote-comment-comment{
    background: white;
    font-size: 14px;
    border: 2px solid;
    border-color: #00aff0;
    color: #00aff0;
    padding: 1px 10px;
}
.thread-vote-comment-change-vote {
    font-size: 10px;
}
.thread-vote-comment-comment:hover{
    background: #00aff0;
    color: white;

}

.thread-vote-comment-input-box {
    overflow: hidden;
    margin-top: 8px;
}