.thread-vote-comment-radio-button{
	padding: 1px 10px;
	background-color: #ffffff;
	border-radius: 3px; 
	color : #ff6600;
        border: 2px solid;
	border-color : #ff6600;
}

.thread-vote-comment-radio-button:hover{
	padding: 1px 10px;
	background-color: #ff6600;
	color : #ffffff;
}

.thread-vote-comment-radio-button.disabled{
	padding: 1px 10px;
	background-color: #ff6600;
	color : #ffffff;
}

.thread-vote-comment-hide {
    display: none;
}

.thread-vote-comment-container {
    margin-top: 8px;
}

.thread-vote-comment-change-vote {
    margin-left: 12px;
    font-size: 12px;
}

.thread-vote-comment-comment {
    font-size: 12px;
}

.thread-vote-comment-input-box {
    overflow: hidden;
    margin-top: 8px;
}